@media (max-width: 940px) {
    nav {
    justify-content: center;
    align-items: center;
    height: 95px;
}

.nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#title {
    margin-left: 0;
    font-size: 1.7rem;
}

#nav-li{
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 15px;
}

.item {
    width: 1.2rem;
}


.head-container {
    height: 30vh;
}

.head-container {
    margin-bottom: 50px;
}

.gallery {
    grid-template-columns: 23vw 23vw 23vw;
    grid-template-rows: auto auto auto auto auto;
    gap: 15px;
}

.gallery-photo {
    width: 25vw;
    height: 25vw;
}
}