:root {
    --font: 'Black';
    --dotcolor: rgb(4, 180, 4);
    --dothover: rgb(161, 249, 161);
    --background: rgb(28, 29, 43);
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: var(--background);
}

@font-face {
  font-family: 'Black';
  src: url('/assets/fonts/Blacker-Display-Medium-trial.ttf');
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 65px;
    width: 100%;
    z-index: 1;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#title {
    margin-left: 50px;
    font-size: 2rem;
    font-family: var(--font);
    color: white;
}

#nav-li{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    list-style-type: none;
    gap: 20px;
    margin-right: 57px;
 }

.item {
    width: 1.7rem;
}

.item img {
    width: 100%;
}


.head-container {
    background-image: url('/assets/images/head1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    margin-bottom: 150px;
}

.dot-container {
    display: flex;
    position: relative;
    top: 90%;
    left: 47.1%;
    gap: 5px;
}

.dot {
    background-color: white;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: .4s;
}

.dot:hover{
    background-color: var(--dothover);
}

#dot1 {
    background-color: var(--dotcolor);
}

#vitrine {
    width: 100%;
    height: auto;
    margin-bottom: 150px;
}

.gallery {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    justify-items: end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.gallery-photo {
    width: 22vw;
    height: 23vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

/* #seemore {
    width: 100%;
    height: 90vh;
    background-color: var(--background);
    margin-top: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 900px;
} */

#videos {
    height: 80vh;
    width: 100%;
}

.vd-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    row-gap: 170px; 
    column-gap: 0; 
    align-items: center;
    text-align: center;
}

#grid3 {
    grid-row-start: 2;
    grid-column-start: 2;
}

iframe {
    width: 35vw;
    height: 32vh;
}

.about-container {
    display: flex;
}

#main {
    width: 50px;
}


